.additional-products {
  display: flex;
  flex-direction: column;
  outline: 1px solid fuchsia;
}

.additional-products__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.additional-products__wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  margin-bottom: 15px;
}

.additional-products__title {
  @include font-title(16px, 16px);
  @include drop-reset;
  color: $mine-shaft;
  text-align: left;
  margin-bottom: 13px;
}

.additional-products__item {
  position: relative;
  flex-grow: 1;
  width: 280px;
  margin-bottom: 31px;

  &::before {
    @include pseudo;
    left: 0;
    top: -14px;
    width: 280px;
    height: 1px;
    background-color: $mercury;
  }
}

.additional-products__item:last-child {
  margin-bottom: 57px;

  &::after {
    @include pseudo;
    left: 0;
    bottom: -18px;
    width: 280px;
    height: 1px;
    background-color: $mercury;
  }
}

.additional-products__title--extra {
  @include font-title(24px, 24px);
  position: relative;
  text-align: left;
  text-transform: none;
  width: 226px;
  margin-bottom: 48px;

  &::after {
    @include pseudo;
    right: -74px;
    top: 14px;
    width: 53px;
    height: 3px;
    background-color: #68b738;
  }
}

.additional-products__description {
  @include font-main(14px, 14px);
}

.additional-products__description--left {
  text-align: right;
}

.additional-products__description--right {
  text-align: left;
}

.additional-products__button {
  display: block;
  flex-grow: 1;
  font-size: 16px;
  line-height: 20px;
  min-height: 40px;
  color: $white;
  text-align: center;
  padding-top: 10px;
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    margin-right: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__title--extra {
    font-size: 36px;
    line-height: 36px;
    width: auto;
    padding-left: 37px;
    margin-bottom: 82px;

    &::after {
      right: -62px;
      top: 22px;
      width: 309px;
    }
  }

  .additional-products__title--extra::before {
    @include pseudo;
    left: -30px;
    top: 22px;
    width: 28px;
    height: 3px;
    background-color: #68b738;
  }

  .additional-products__description {
    font-size: 16px;
    line-height: 20px;
    padding-left: 52px;
  }

  .additional-products__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 0;
    padding-top: 24px;
    padding-right: 35px;
    padding-left: 37px;
    padding-bottom: 28px;
    border: 1px solid $mercury;
    border-bottom: 0;
  }

  .additional-products__item::before {
    display: none;
  }

  .additional-products__item:last-child {
    margin-bottom: 67px;
    border: 1px solid $mercury;
  }

  .additional-products__item:last-child::after {
    display: none;
  }

  .additional-products__item .additional-products__title {
    margin-right: 80px;
  }

  .additional-products__wrapper {
    justify-content: flex-end;
    margin-bottom: 21px;
    padding-top: 5px;
  }

  .additional-products__description--right {
    display: block;
    width: 96px;
    text-align: right;
  }

  .additional-products__description--left {
    display: block;
    width: 200px;
    text-align: right;
  }

  .additional-products__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__list {
    margin-bottom: 20px;
  }

  .additional-products__item {
    padding: 0;
    padding-top: 25px;
    border: none;
    border-bottom: none;

    &::before {
      display: block;
      top: 1px;
      width: 894px;
    }
  }

  .additional-products__item:last-child::after {
    display: block;
    bottom: -1px;
    width: 894px;
  }

  .additional-products__item:last-child {
    border: none;
  }

  .additional-products__title {
    width: 192px;
  }

  .additional-products__wrapper {
    justify-content: flex-start;
    flex-grow: 0;
    padding-right: 37px;
  }

  .additional-products__description--left {
    width: 207px;
    text-align: left;
    margin-right: 37px;
  }

  .additional-products__description--right {
    text-align: left;
  }

  .additional-products__title--extra {
    width: 350px;
    margin-bottom: 80px;
    padding-left: 0;

    &::before {
      left: -110px;
      width: 70px;
    }

    &::after {
      right: -980px;
      width: 957px;
    }
  }

  .additional-products__button {
    width: 245px;
    flex-grow: 0;
    padding-top: 11px;
    margin-top: -9px;
    margin-bottom: 16px;
  }
}
