.additional-products {
  display: flex;
  flex-direction: column;
  outline: 1px solid fuchsia;
}

.additional-products__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
}

.additional-products__wrapper {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
}

.additional-products__title {
  @include font-title(16px, 16px);
  @include drop-reset;
  color: $mine-shaft;
  text-align: left;
}
.additional-products__item {
  flex-grow: 1;
  width: 280px;
  outline: 1px solid greenyellow;
}

.additional-products__title--extra {
  width: 226px;
  @include font-title(24px, 24px);
  text-align: left;
  text-transform: none;
}

.additional-products__description {
  @include font-main(14px, 14px);
}

.additional-products__description--left {
  text-align: right;
}

.additional-products__description--right {
  text-align: left;
}

.additional-products__button {
  display: block;
  flex-grow: 1;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 20px;
  min-height: 40px;
  color: $white;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .additional-products__title {
    margin-right: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  .additional-products__title--extra {
    font-size: 36px;
    line-height: 36px;
  }

  .additional-products__description {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-products__item {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .additional-products__item .additional-products__title {
    margin-right: 80px;
  }

  .additional-products__button {
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .additional-products__button {
    width: 245px;
    flex-grow: 0;
  }
}
