.advantages__title {
  @include font-title(36px, 60px);
  text-transform: none;
  text-align: left;
}

.advantages__list {
  @include list-reset;
}

.advantages__item {
  @include font-main(14px, 18px);
  text-align: left;
}
