.form {
  display: flex;
  flex-direction: column;
  outline: 1px solid darkblue;
}

.form__fieldset {
  @include fieldset-reset;
  outline: 1px solid red;
}

.form__list {
  @include list-reset;
}

.form__label {
  @include font-title(16px, 18px);
  color: $mine-shaft;
  text-align: left;
}

.form__input {
  @include font-title(16px, 18px);
  color: $tundora;
  text-align: left;
  border: 1px solid $color-border-input;
}

.form__input:hover,
.form__input:focus {
  border: 1px solid $color-border-input;
}

.form__input:active {
  border: 2px solid $tundora;
}

.form__input--error {
  border: 2px solid $color-border-input-error;
}

.form__textarea {
  @include font-title(16px, 18px);
}

.form__legend {
  @include font-title(24px, 24px);
  text-align: left;
  text-transform: none;
}

.form__button {
  @include font-title(16px, 20px);
  color: $white;
  width: 100%;
}

.form__text {
  @include font-main(14px, 16px);
}

.form__input + .form__label:active {
  color: $black-two-30;
}

.form__input::placeholder,
.form__textarea::placeholder {
  color: $tundora;
}

@media (min-width: $tablet-width) {
  .form__label {
    font-size: 20px;
    line-height: 20px;
  }

  .form__input {
    font-size: 20px;
    line-height: 20px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .form__textarea {
    font-size: 20px;
    line-height: 30px;
  }

  .form__text {
    font-size: 16px;
  }

  .form__button {
    font-size: 20px;
  }

  .form__list--additional {
    display: flex;
    flex-wrap: wrap;
  }

  .form__item {
    width: 334px;
  }
}

@media (min-width: $desktop-width) {
  .form__wrapper-fieldset {
    display: flex;
  }

  .form__list--contact {
    display: flex;
  }

  .form__list--additional {
    flex-wrap: nowrap;
  }

  .form__item {
    width: auto;
  }

  .form__button {
    width: 568px;
  }

  .form_wrapper-button {
    display: flex;
  }

  .form__text {
    width: 100%;
  }
}
