.main-nav {
  position: relative;
  width: 320px;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 768px;
  }
}

@media (min-width: $desktop-width) {
    // .main-nav--image {
    //   background-image: linear-gradient(to left, $green 44%, white 44%);
    //   background-repeat: no-repeat;
    //   background-size: 100% 100%;
    // }
  }
