body {
  background: url("../../img/cat-energy-index-mobile.jpg") no-repeat 50% 0;
  background-size: 320px auto;
  min-height: 750px;
}


@media (min-width: $tablet-width) {
  body {
    background: url("../../img/cat-energy-index-tablet.jpg") no-repeat 50% 0;
    background-size: 768px auto;
  }
}


@media (min-width: $desktop-width) {
  body {
    background: url("../../img/cat-energy-index-desktop.jpg") no-repeat 50% 0;
    background-size: 1440px auto;
  }
}
