.page-main__wrapper--green {
  height: 503px;
  background-image: url("../img/index-can-mobile@1x.png"), url("../img/index-background-mobile@1x.jpg"), linear-gradient(to bottom, $green 60.8%, $white 39.2%);
  background-repeat: no-repeat;
  background-position: center 167px, center 0, center 0;
  background-size: 280px 270px, 320px 305px, 100% 100%;
}

.page-header__wrapper {
  position: relative;
}

.page-main__title {
  @include drop-reset;
  @include font-title(36px, 36px);
  color: #ffffff;
  text-transform: none;
  padding-top: 29px;
  margin-bottom: 25px;
}

.page-main__title--white {
  // background-color: $apple;
}

.page-main__title--black {
  @include font-title(36px, 60px);
  text-transform: none;
  text-align: left;
  padding-top: 16px;
}

.page-main__profile {
  @include font-title(14px, 18px);
  text-align: left;
  width: 226px;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .page-main__wrapper {
    // padding-left: 86px;
    margin-bottom: 7px;
  }

  .page-main__wrapper--green {
    background-image: none;
    height: auto;
  }

  .page-main__wrapper--green::before {
    @include pseudo;
    background-image: url("/img/index-can-tablet@1x.jpg");
    background-size: 709px 609px;
    width: 709px;
    height: 609px;
    background-repeat: no-repeat;
    z-index: -1;
    bottom: -20px;
    right: 13px;
  }

  .page-main__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    color: $cod-gray;
    width: 501px;
    margin-bottom: 42px;
    padding-top: 29px;
    background-color: transparent;
    padding-left: 86px;
  }

  .page-main__title--catalog {
    padding-left: 0;
  }

  .page-main__title--form {
    padding-left: 0;
    margin-bottom: 56px;
  }

  .page-main__profile {
    font-size: 20px;
    line-height: 30px;
    width: 364px;
    padding-left: 40px;
    margin-bottom: 64px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__wrapper {
    @include drop-reset;
    margin-bottom: 71px;
  }

  .page-main__wrapper .container {
    padding-left: 119px;
  }

  .page-main__wrapper--green {
    height: 598px;

    &::before {
      @include pseudo;
      top: 142px;
      left: 490px;
      background-image: url("../img/index-can-desktop@1x.png");
      background-size: 552px 499px;
      background-repeat: no-repeat;
      width: 552px;
      height: 499px;
      z-index: 1;
    }
  }

  .page-main__title {
    margin-bottom: 55px;
    padding-left: 0;
    padding-top: 36px;
  }

  .page-main__title--desktop {
    padding-top: 114px;
    margin-bottom: 41px;
  }

  .page-main__title--catalog {
    margin-bottom: 43px;
  }

  .page-main__profile {
    padding-left: 0;
    margin-bottom: 65px;
  }
}
