.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  //   outline: 1px solid green;
}

.page-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 279px;
  min-height: 66px;
  margin-top: -1px;
}

.page-header__logo {
  height: 39px;
}

.page-header__logo:hover,
.page-header__logo:active {
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__toggle {
  @include button-reset;
  position: relative;
  width: 25px;
  height: 19px;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding-top: 21px;
  }

  .page-header__logo img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 174px;
  }

  .page-header {
    flex-direction: row;
    justify-content: space-between;
  }

  .page-header__toggle {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding-top: 50px;
  }

  .page-header__logo img {
    display: block;
    height: auto;
    margin: 0 auto;
    width: 203px;
  }

  .page-header {
    padding-bottom: 10px;
  }
}
