.additional-products__title {
  @include font-title(24px, 24px);
  text-align: left;
}

.additional-products__list {
  @include list-reset;
}

.additional-products__description--left {
  @include font-main(14px, 14px);
  text-align: right;
}

.additional-products__description--right {
  @include font-main(14px, 14px);
  text-align: left;
}

.additional-products__button {
  @include font-title(14px, 18px);
  color: $white;
}
