body {
  font-family: "ArialMT", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: $tundora;
  font-weight: 400;

  background-color: $white;
}

a {
  text-decoration: none;
}
