@mixin font-title($font-size, $line-height) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $title-font;
  text-align: center;
  color: $cod-gray;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin font-main($font-size, $line-height, $text-align: center, $color: $tundora) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $main-font;
  text-align: $text-align;
  color: $color;
  font-weight: 400;
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin fieldset-reset {
  border: none;
  margin: 0;
  padding: 0;
}

@mixin drop-reset {
  margin: 0;
  padding: 0;
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
  content: $content;
  display: $display;
  position: $pos;
}
