.page-main__title {
  @include font-title(36px, 36px);
  color: #ffffff;
  text-transform: none;
}

.page-main__title--black {
  @include font-title(36px, 60px);
  text-transform: none;
  text-align: left;
}

.page-main__profile {
  @include font-title(14px, 18px);
  text-align: left;
}
