@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2") format("woff2"), url("../fonts/oswaldregular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Oswald";
  src: url("../fonts/oswaldmedium.woff2") format("woff2"), url("../fonts/oswaldmedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Arial";
  src: url("../fonts/arialmt.woff2") format("woff2"), url("../fonts/arialmt.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

$title-font: "Oswald", sans-serif;
$main-font: "Arial", sans-serif;

$cod-gray: #111;
$mine-shaft: #222;
$tundora: #444;
$white: #fff;
$apple: #68b738;
$grass: #5eaa2f;
$wepeep: #f0c7e0;
$light-grey: #f2f2f2;
$black-three-30: rgba(17, 17, 17, 0.3);
$black-three-60: rgba(17, 17, 17, 0.6);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$white-three: #ebebeb;
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$color-border-input: #cdcdcd;
$color-border-input-active: $tundora;
$color-border-input-error: #ff8282;
$black-two-30: rgba(34, 34, 34, 0.3);

@mixin font-title($font-size, $line-height) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $title-font;
  text-align: center;
  color: $cod-gray;
  font-weight: 400;
  text-transform: uppercase;
}

@mixin font-main($font-size, $line-height) {
  font-style: normal;
  font-size: $font-size;
  line-height: $line-height;
  font-family: $main-font;
  text-align: center;
  color: $tundora;
  font-weight: 400;
}

@mixin button-reset {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin fieldset-reset {
  border: none;
  margin: 0;
  padding: 0;
}

@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

@import "site-list.scss";
@import "page-main.scss";
@import "visual-hidden.scss";
@import "care-cat.scss";
@import "button-green.scss";
@import "program.scss";
@import "advantages.scss";
@import "example.scss";
@import "contact.scss";
@import "page-footer.scss";
@import "products.scss";
@import "catalog.scss";
@import "developer.scss";
@import "more-products.scss";
@import "button-gray.scss";
@import "main-nav.scss";
@import "additional-products.scss";
@import "gift";
@import "form";

a {
  text-decoration: none;
}
