
$title-font: "Oswald", "Arial", sans-serif;
$main-font: "Arial", sans-serif;
$cod-gray: #111111;
$cod-gray-23: rgba(17, 17, 17, 0.23);
$cod-gray-40: rgba(17, 17, 17, 0.4);
$mine-shaft: #222222;
$tundora: #444444;
$tundora-80: rgba(68, 68, 68, 0.8);
$tundora-60: rgba(68, 68, 68, 0.6);
$white: #ffffff;
$apple: #68b738;
$apple-30: rgba(104, 183, 56, 0.3);
$green: #63a73a;
$grass: #5eaa2f;
$wepeep: #f0c7e0;
$mercury: #e6e6e6;
$light-grey: #f2f2f2;
$black-three-30: rgba(17, 17, 17, 0.3);
$black-three-60: rgba(17, 17, 17, 0.6);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$white-three: #ebebeb;
$black-10: rgba(0, 0, 0, 0.1);
$greyish-brown-30: rgba(68, 68, 68, 0.3);
$color-border-input: #cdcdcd;
$color-border-input-active: $tundora;
$color-border-input-error: #ff8282;
$black-two-30: rgba(34, 34, 34, 0.3);
$background-map: #fdf7f1;
$dove-gray: #666666;
$silver: #c8c8c8;
$silver-two: #bababa;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dppx: 1.5dppx;
